# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.lst
*.bin
*.crf
*.htm
*.lnp
*.axf
*.tmp
# build/
STM32F103C8Tx_BluePill/build/
build/
*.dep
STM32F103C8Tx_BluePill/MDK-ARM/STM32F103C8Tx_BluePill/STM32F103C8Tx_BluePill_STM32F103C8Tx_BluePill.dep
build/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
