# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.lst
*.bin
*.crf
*.htm
*.lnp
*.axf
*.tmp
# build/
STM32F103C8Tx_BluePill/build/
build/
*.dep
build/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/arm/startup_stm32f100xb.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/arm/startup_stm32f100xe.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/arm/startup_stm32f101x6.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/arm/startup_stm32f101xb.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/arm/startup_stm32f101xe.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/arm/startup_stm32f101xg.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/arm/startup_stm32f102x6.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/arm/startup_stm32f102xb.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/arm/startup_stm32f103xe.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/arm/startup_stm32f103xg.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/arm/startup_stm32f105xc.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/arm/startup_stm32f107xc.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/gcc/startup_stm32f100xb.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/gcc/startup_stm32f100xe.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/gcc/startup_stm32f101x6.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/gcc/startup_stm32f101xb.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/gcc/startup_stm32f101xe.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/gcc/startup_stm32f101xg.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/gcc/startup_stm32f102x6.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/gcc/startup_stm32f102xb.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/gcc/startup_stm32f103x6.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/gcc/startup_stm32f103xe.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/gcc/startup_stm32f103xg.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/gcc/startup_stm32f105xc.s
STM32F103C8Tx_BluePill/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/gcc/startup_stm32f107xc.s
STM32F103C8Tx_BluePill/MDK-ARM/STM32F103C8Tx_BluePill/STM32F103C8Tx_BluePill_STM32F103C8Tx_BluePill.dep
STM32F103C8Tx_BluePill/MDK-ARM/STM32F103C8Tx_BluePill.uvguix.silvv
STM32F103C8Tx_BluePill/MDK-ARM/STM32F103C8Tx_BluePill.uvoptx
STM32F103C8Tx_BluePill/MDK-ARM/STM32F103C8Tx_BluePill.uvguix.silvv
STM32F103C8Tx_BluePill/MDK-ARM/STM32F103C8Tx_BluePill/STM32F103C8Tx_BluePill_STM32F103C8Tx_BluePill.dep
STM32F103C8Tx_BluePill/MDK-ARM/STM32F103C8Tx_BluePill.uvguix.silvv
STM32F103C8Tx_BluePill/MDK-ARM/STM32F103C8Tx_BluePill.uvoptx
STM32F103C8Tx_BluePill/MDK-ARM/STM32F103C8Tx_BluePill.uvprojx
STM32F103C8Tx_BluePill/MDK-ARM/STM32F103C8Tx_BluePill/STM32F103C8Tx_BluePill_STM32F103C8Tx_BluePill.dep
build_cmake/
